/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Nova+Flat|Cabin);*/
/*
 * To use these fonts, use the following CSS:
 *
 * font-family: 'Open Sans', sans-serif;
 * font-family: 'Nova Flat', cursive;
 * font-family: 'Cabin', sans-serif;
 *
 */
@font-face {
	font-family: pageFont-text;
	src: url(../resources/OpenSans-Semibold.ttf);
}
@font-face {
	font-family: pageFont-clean;
	src: url(../resources/Cabin-Regular.ttf);
}
@font-face {
	font-family: pageFont-heading;
	src: url(../resources/Molot.otf);
	font-weight: 100;
}


body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

canvas
{
    position:absolute;
    width: 100%;
    height: 100%;

    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#center-container
{
        color: rgb(160,160,160);
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 10%;

        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
}
#text-container
{
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 70%;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

a, .link
{
    margin: 1.0em;
    text-decoration: none;
    font-size: 1.41em;
}
a
{
    color: white;
    transition:
        color ease-in-out 0.3s,
        text-shadow ease-in-out 0.3s;
    mix-blend-mode: normal;
}
a:hover
{
    color: rgba(255,255,255,0);
    text-shadow:
      +3px 0px 0px rgba(255, 64, 64, 0.2),
      -3px 0px 0px rgba(0, 255, 255, 1.0),
      +3px 0px 0px rgba(255, 0, 0, 1.0);
    transition:
        color ease-in-out 0.3s,
        text-shadow ease-in-out 0.3s;
    mix-blend-mode: screen;
}
a:visited
{
    color: white;
}

h1
{
    font-size: 0.717em;
}
h1 > a
{
    margin: 0.0em;
}

@keyframes anim-whiteflicker
{
    0% {color: white; left: 0px; }
    25% {color: white; left: -1px; }
    26% {color: rgb(120,120,120); left: -1px; }
    27% {color: white; left: 0px;}
    50% {color: white;}
    51% {color: rgb(228,228,228);}
    55% {color: white;}
    75% {color: white;}
    76% {color: rgb(200,200,200); left: 0px; }
    78% {color: white; left: 1px; }
    100% {color: white; left: 0px; }
}

#text-container > a
{
    margin: 0.1em;
    font-size: 1.1em;
    position: relative;
    animation-name: anim-whiteflicker;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#text-container > a:nth-child(2) {animation-duration: 3.7s;}
#text-container > a:nth-child(3) {animation-duration: 7.1s;}
#text-container > a:nth-child(3) {animation-duration: 4.2s;}
#text-container > a:nth-child(4) {animation-duration: 3.5s;}
#text-container > a:nth-child(5) {animation-duration: 7.2s;}
#text-container > a:nth-child(6) {animation-duration: 9.3s;}

#text-container > a:after
{
    content: attr(data-hover);
    position: absolute;
    left: 0;
    top: 3em;
    color: rgba(1,1,1,0.0);
}
#text-container > a:hover
{

}
#text-container > a:hover:after
{
    color: rgba(255,255,255,1.0);
    display: inline;
    z-index: +10;
}
